.shop-container {
  padding-top: 1rem;
  padding-bottom: 150px; 
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  padding: 20px;
}

.my-rewards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

