.shop-container {
  padding-top: 1rem;
  padding-bottom: 150px; 
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  padding: 20px;
}

.my-rewards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-rewards-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  color: white;
  border-radius: 20px;
  width: 50%;
}