
.stat-card {
  background: rgb(13 12 12 / 9%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin-top: 2rem;
  padding: 1rem 2.2rem;
  display: flex;
  padding: 1rem;
}

.stat-card__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: rgba(242, 240, 240, 0.269);
  border-radius: 25px;
  margin: 0 1.2rem 0 0.8rem;
} 

.stat-card__icon-wrapper svg{
  width: 3rem;
  height: 3rem;
  filter: invert(40%) sepia(10%) saturate(2000%) hue-rotate(320deg) brightness(90%) contrast(90%);
} 

.stat-card__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  line-height: 1.2;
}

.stat-card__label {
  font-weight: 100;
  font-size: 22px;
  color:rgba(234, 232, 232, 0.589);
}

.stat-card__value {
  font-weight: 500;
  font-size: 32px;
  color:rgb(250, 250, 250);
}