.task-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-bottom: 5rem;
}

.task-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}