.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
}

.modal {
  padding: 20px 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30vh;
  background-color:  rgba(248, 58, 133, 0.5);;
  backdrop-filter: blur(20px);
  position: absolute;
  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: pop 0.3s ease-out;
}

.close-button {
  padding: 20px;
  font-size: 1.4em;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); color: var(--color-accent); }
  100% { transform: scale(1); }
}
