@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-gradient: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  --color-primary: #f83a85;
  --color-secondary: #f18c22;
  --card-bg: rgba(255, 255, 255, 0.9);
  --card-bg-completed: rgba(255, 255, 255, 0.5);
  --text-dark: #2d3436;

  --primary-pink: #F43E6A;
  --secondary-pink: #D42A55;
  --bg-gradient: linear-gradient(135deg, #ff4d6d 0%, #c73d5a 100%);
  --card-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  --border-radius-lg: 50px;
  --border-radius-sm: 15px;

  --color-accent: rgb(243, 224, 130);        
  --color-delete: rgb(255, 139, 148);        
  --color-delete-hover: rgb(235, 119, 128);
         
  --color-text-light: rgb(238, 238, 238);   

  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;

  color:var(--color-text-light);
}

body {
  margin: 0;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--primary-gradient);
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: 600;
}

h3 {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: 300;
}

button {
  background: white;
  font-family: 'Inter', sans-serif;
  border-radius: 50px; 
  border: none;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
button:focus,
button:focus-visible {
  outline: 4px auto black;
}
button:active{
  transform: translateY(2px)
}
