.list {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--color-primary);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

.list-item.completed {
  background-color:var(--color-primary-completed);
  
}

.list-item:hover {
  background-color: var( --color-primary-hover);
}

.button-container {
 padding-right: 1rem;
}

.delete-button {
  width: 3em;
  display: grid;
  justify-content: center;
  background-color: var(--color-delete);
}

.delete-button:hover {
  background-color: var(--color-delete-hover);
}

.delete-button img {
  width: 1rem; 
  height: 1rem;
  filter: brightness(0) invert(1); 
}